@model IEnumerable<Task_24.PL.Models.ArticleViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <section class="col-10 news-list">
        <div class="row">
            <h2 class="page-header-2 col-12">Articles</h2>
        </div>
        @foreach (var article in Model) {
            <article class="card mb-3">
                <img class="card-img-top" src="@article.ImagePath" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title">@article.Title</h1>
                    <p class="card-text">@article.Text</p>
                    <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => article.PublicationDate)</small></p>
                </div>
            </article>
        }
    </section>
    <aside class="col-2 menu-sidebar">
        <h3 style="margin-bottom: 20px;">Menu</h3>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="list-group-item">
                    @Html.ActionLink("For guests", "Index", "Guest")
                </li>
                <li class="list-group-item">
                    @Html.ActionLink("Questions", "Index", "Form")
                </li>
                <li class="list-group-item">
                    @Html.ActionLink("News", "Index", "News")
                </li>
            </ul>
        </div>
        <br /><h3>Latest news</h3><br />
        @foreach (var item in ViewBag.LatestNews) {
            <article class="card mb-3">
                <img class="card-img-top" src="@item.ImagePath" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Text</p>
                    <p class="card-text"><small class="text-muted">@item.PublicationDate</small></p>
                </div>
            </article>
        }
    </aside>
</div>
